@font-face {
  font-family: "THSarabunNew";
  src: url("../../public/fonts/THSarabunNew.ttf");
}

@font-face {
  font-family: "THSarabunNewBold";
  src: url("../../public/fonts/THSarabunNewBold.ttf");
}

@font-face {
  font-family: "THSarabunNewBoldItalic";
  src: url("../../public/fonts/THSarabunNewBoldItalic.ttf");
}

@font-face {
  font-family: "THSarabunNewItalic";
  src: url("../../public/fonts/THSarabunNewItalic.ttf");
}

@font-face {
  font-family: "HelveticaNeuBold";
  src: url("../../public/fonts/HelveticaNeuBold.ttf");
}

@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@200&display=swap');

*{
  margin: 0;
  padding: 0;
}